{% extends "page/base" %}

{% block head %}
{{ super() -}}

<link rel="stylesheet" href="/assets/styles/page/edit.css">
{% endblock head%}

{% block body %}
{{ super() -}}

<script src="/assets/scripts/simple-page-editor.js"></script>
{% endblock body %}

{% block page_main -%}
<form id="page-edit-form" action="?action=submit" method="post">
  <textarea id="page-edit-textarea">{{ page.content }}</textarea>
</form>
{%- endblock page_main %}
